<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Readme</key>
	<string>所有urlPath必须为标准化处理，有且仅有[NSURL scheme]://[NSURL host]/[NSURL path]</string>
	<key>WhiteList</key>
	<array>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://joinQQGroup</string>
			<key>urlDescription</key>
			<string>一键加入QQ</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://openAuctionHome</string>
			<key>urlDescription</key>
			<string>嗨拍首页（目前是e卡拍卖首页）</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://inviteBonusHomePage</string>
			<key>urlDescription</key>
			<string>邀请奖励金主页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://invitationBountyWithdrawal</string>
			<key>urlDescription</key>
			<string>邀请奖励金提现</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://messageBox</string>
			<key>urlDescription</key>
			<string>消息盒子</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://minehaiwan</string>
			<key>urlDescription</key>
			<string>我的嗨玩</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://integralPlayground</string>
			<key>urlDescription</key>
			<string>积分乐园</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://integralRecord</string>
			<key>urlDescription</key>
			<string>积分记录</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://minehaipin</string>
			<key>urlDescription</key>
			<string>我的嗨拼</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://haiwangoods</string>
			<key>urlDescription</key>
			<string>嗨玩商品单独分类列表页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://haiwanTotalGoodsList</string>
			<key>urlDescription</key>
			<string>嗨玩全部商品页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://toMine</string>
			<key>urlDescription</key>
			<string>到我的首页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://toLive</string>
			<key>urlDescription</key>
			<string>到直播首页，与openLiveHome关系与区别：1.toLive是公开路由（返回根视图+调用openLiveHome），由ELifeEntrance实现；2.openLiveHome供内部调用，由直播模块实现</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://loginAndClose</string>
			<key>urlDescription</key>
			<string>同elife-scheme://login</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://openWebPage</string>
			<key>urlDescription</key>
			<string>打开网页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://shareOnlyApi</string>
			<key>urlDescription</key>
			<string>分享(只是调起第三方平台)</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://bankCardList</string>
			<key>urlDescription</key>
			<string>银行卡列表</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://tradePswSettings</string>
			<key>urlDescription</key>
			<string>交易密码设置</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://loginPasswordSettings</string>
			<key>urlDescription</key>
			<string>登录密码修改</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://checkSecuritySettings</string>
			<key>urlDescription</key>
			<string>检查是否需要安全设置（交易密码和密保问题）</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://verifyTradePsw</string>
			<key>urlDescription</key>
			<string>交易密码验证</string>
			<key>callBack</key>
			<string>1.pswCorrectBlock（验证密码成功回调）、closeBlock（输入密码关闭回调，验证成功关闭不走）</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://logout</string>
			<key>urlDescription</key>
			<string>登出</string>
			<key>callBack</key>
			<string>【登出通知Notification】【1.name:@&quot;ELifeTokenPassportInvalidNotification&quot; 】</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://pay</string>
			<key>urlDescription</key>
			<string>支付</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://duobaoHome</string>
			<key>urlDescription</key>
			<string>返回夺宝首页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://haitaoHome</string>
			<key>urlDescription</key>
			<string>返回商城首页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://closeApp</string>
			<key>urlDescription</key>
			<string>关闭App</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://share</string>
			<key>urlDescription</key>
			<string>小泰乐活分享</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://openLiveHome</string>
			<key>urlDescription</key>
			<string>直播主页</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://login</string>
			<key>urlDescription</key>
			<string>小泰乐活登录</string>
			<key>callBack</key>
			<string>【登录通知Notification】【1.name:@&quot;ELifeTokenPassportAuthorizedNotification&quot; 】</string>
			<key>callBack2</key>
			<string>loginSuccessBlock（登录成功回调）</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://SDMCity</string>
			<key>urlDescription</key>
			<string>调起水电煤 </string>
			<key>callBack</key>
			<string>【选中地址通知Notification】【1.name:@&quot;ELife_ChooseCityNotificationName&quot; 2.userInfo:{@&quot;city&quot;:@&quot;&quot;}】</string>
			<key>callBack2</key>
			<string>chooseCityBlock(NSString *cityName)</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://contact</string>
			<key>urlDescription</key>
			<string>拨打电话</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://getContacts</string>
			<key>urlDescription</key>
			<string>获取系统联系人</string>
			<key>callBack</key>
			<string> 【选中联系人通知Notification】【1.name:@&quot;ELife_ChooseContactorNotificationName&quot; 2.userInfo:{@&quot;contactor&quot;:@&quot;&quot;}】</string>
			<key>callBack2</key>
			<string>chooseContactorBlock(NSString *phoneNumber)</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://updateShippingAddress</string>
			<key>urlDescription</key>
			<string>前往收货地址列表</string>
			<key>params</key>
			<string>addressId(小泰乐活已选收货地址Id)</string>
			<key>callBack</key>
			<string> 【选中收货地址通知Notification】【1.name:@&quot;ELife_ChooseAddressNotificationName&quot; 2.userInfo:{@&quot;addressId&quot;:@&quot;&quot;}】</string>
			<key>callBack2</key>
			<string>chooseAddressBlock(NSString *addressId)</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://goodsReceipt</string>
			<key>urlDescription</key>
			<string>商城确认收货</string>
			<key>callBack</key>
			<string>receiptSuccess(NSString *successPageUrl) </string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://showLoadingDialog</string>
			<key>urlDescription</key>
			<string>显示Loading框</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://hideLoadingDialog</string>
			<key>urlDescription</key>
			<string>隐藏Loading框</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://showSuccessToast</string>
			<key>urlDescription</key>
			<string>显示成功Tips</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://showWarnToast</string>
			<key>urlDescription</key>
			<string>显示警告Tips</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://duobaoGoodsReceipt</string>
			<key>urlDescription</key>
			<string>夺宝确认收货</string>
			<key>callBack</key>
			<string>duobaoReceiptSuccess(NSString *successPageUrl) </string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://mineMoments</string>
			<key>urlDescription</key>
			<string>我的晒单</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://moments</string>
			<key>urlDescription</key>
			<string>晒单圈</string>
		</dict>
		<dict>
			<key>urlPath</key>
			<string>elife-scheme://historyMoments</string>
			<key>urlDescription</key>
			<string>晒单记录</string>
		</dict>
	</array>
</dict>
</plist>
